<div class="main">
  <div class="wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome to Othello Bot!</mat-card-title>
        <mat-card-subtitle>
          An <a href="https://github.com/SiddharthShyniben/othello-bot">open source</a> othello playing bot developed by <a href="https://github.com/SiddharthShyniben">Siddharth Shyniben</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/play">Play!</button>
        <a mat-button href="https://github.com/SiddharthShyniben/othello-bot">View the repo</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>